[global]

        security = ads
        realm = {{ samba_krb5_domain_name|upper }}
        workgroup = {{ samba_krb5_domain_name_short|upper }}
        password server = {{ samba_password_server }}
        idmap uid = {{ samba_idmap_uid }}
        idmap gid = {{ samba_idmap_gid }}
        winbind enum users = yes
        winbind enum groups = yes
        winbind cache time = 10
        winbind use default domain = yes
        template homedir = /home/%U
        template shell = /bin/bash
        client use spnego = yes
        client ntlmv2 auth = yes
        encrypt passwords = yes
        restrict anonymous = 2
        domain master = no
        local master = no
        preferred master = no
        os level = 0

        # vfs objects = acl_xattr
        # map acl inherit = Yes
        # store dos attributes = Yes

{% if samba_shares is defined %}
{% for share in samba_shares: %}
[{{ share.name }}]
        comment = Share
        path = {{ share.path }}
        valid users = {{ share.valid_users }}
        force group = {{ share.force_group }}
        writable = yes
        read only = no
        force create mode = 0660
        create mask = 0777
        directory mask = 0777
        force directory mode = 0770
        access based share enum = yes
        hide unreadable = yes
{% endfor %}
{% endif %}